<div class="gallery-item" data-category="<%= item.category %>" data-full="<%= item.image %>" data-title="<%= l(item, 'title') %>" data-location="<%= l(item, 'location') %>">
  <img src="<%= item.thumbnail %>" alt="<%= l(item, 'title') %>" loading="lazy">
  <div class="gallery-item-overlay">
    <h4><%= l(item, 'title') %></h4>
    <p><%= l(item, 'location') %></p>
  </div>
</div>
