<div class="gallery-item" data-category="<%= item.category %>" data-full="<%= item.image %>" data-title="<%= item.title %>" data-location="<%= item.location %>">
  <img src="<%= item.thumbnail %>" alt="<%= item.title %>" loading="lazy">
  <div class="gallery-item-overlay">
    <h4><%= item.title %></h4>
    <p><%= item.location %></p>
  </div>
</div>
